body, html{
    height: 100%
}

body,h1,h2,h3,h4,h5,h6{
    font-family: "Arial", sans-serif
}

.menu{
    display: none
}

.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg-b.jpg");
  height: 100vh;
}

.container {
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

.test{
  display: flex;
  flex-direction: row;
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.openTimesContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 100px 0;
  }
  
  .openTimes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .openHours th {
    text-align: left;
    padding: 0 20px;
  }
  
  .openHours td {
    text-align: right;
    padding: 0 20px;
  }
  
  .openHours tr{
    font-size: 20px;
  }

  
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

.fa:hover {
    opacity: 0.7;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .contact h1{
    margin-top: 50px;
    font-size: 15px;
    color: white;
  }
  
  .contact a{
    font-size: 13px;
    color: white;
    text-decoration: underline;
  }