body, html{
    height: 100%
}

body,h1,h2,h3,h4,h5,h6{
    font-family: "Arial", sans-serif
}

.menu{
    display: none
}

.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg-b.jpg");
  height: 100vh;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 100px 0;
  }
  
  .openTimes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .openHours th {
    text-align: left;
    padding: 0 20px;
  }
  
  .openHours td {
    text-align: right;
    padding: 0 20px;
  }
  
  .openHours tr{
    font-size: 20px;
  }

  .row{
    display: flex;
    justify-content: center;
  }

  .column {
    float: left;
    width: 25%;
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

    .row{
        flex-direction: column;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

.fa:hover {
    opacity: 0.7;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .contact h1{
    margin-top: 50px;
    font-size: 15px;
    color: white;
  }
  
  .contact a{
    font-size: 13px;
    color: white;
    text-decoration: underline;
  }