body, html{
    height: 100%
}

body,h1,h2,h3,h4,h5,h6{
    font-family: "Arial", sans-serif
}



.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg-b.jpg");
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1{
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.our-team {
  display: flex;
  flex-direction: column;
  padding: 30px 0 40px;
  text-align: center;
  margin: 50px;
}

.our-team .picture img {
  width: fit-content;
  height: 250px;
  border-radius: 25%;
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.openTimesContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 100px 0;
  }
  
  .openTimes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .openHours th {
    text-align: left;
    padding: 0 20px;
  }
  
  .openHours td {
    text-align: right;
    padding: 0 20px;
  }
  
  .openHours tr{
    font-size: 20px;
  }

  
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

.fa:hover {
    opacity: 0.7;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .contact h1{
    margin-top: 50px;
    font-size: 15px;
    color: white;
  }
  
  .contact a{
    font-size: 13px;
    color: white;
    text-decoration: underline;
  }

  @media screen and (max-width: 1080px) {
    .row{
      flex-direction: column;
    }

    .our-team{
      margin-bottom: 0;
    }
  }
