body{
    background-color: #212529;
}

ul, a, li, h1{
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

h2{
font-size: 15px;
}


header{
  font-size: 50px;
  color: white;
  text-align: center;
}

span{
  text-decoration: underline;
  font-weight: bold;
}

.openTime, .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}


/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  padding: 10px 10px 0px 10px;
  left: 0;
  bottom: 0;
  width: 99%;
  height: fit-content;
  background: grey;
  text-align: center;
}

.footer-item{
  width: 400px;
  height: 10px;
}

.footer-item-1{
  min-height: 100px;
}

.footer-item-2{
  min-height: 100px;
}

.footer-item-3{
  min-height: 100px;
}
.fa {
  height: fit-content;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #3c0470;
    color: white;
  }
  